<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fetcher.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Server=127.0.0.1;Port=5432;Database=montanstal;User Id=postgres;Password=azbest;</value>
            </setting>
            <setting name="pathToParts" serializeAs="String">
                <value>Q:\parts\</value>
            </setting>
        </Fetcher.Properties.Settings>
    </userSettings>
</configuration>